html {
	box-sizing: border-box;
	color: black;
	font: normal 100%/1.5 Georgia, serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}

header {
	padding: 0em;
	background-color: #e5613e;
	text-align: center;
}

h1, h2 {
	color: white;
}

h1 {
	font-size: 3rem;
	margin: 0 0 0.2em;
}

nav li {
	display: inline-block;
	border: 1px solid #963e30;
}

nav a {
	color: white;
	padding: 3em;
}

nav ol {
	margin: 0;
	padding: 0;
}

.grains {
	float: left;
	width: 25%;
	margin-top: 0.5em;
	margin-right: 1em;
	margin-bottom: 1em;
}

.cereals {
	float: right;
	width: 25%;
	margin-top: 3em;
}

.quinoa {
	float: right;
	width: 25%;
	clear: right;
}

.second-p {
	clear: both;
}

.famous-cereals {
	background-color: #dd6e50;
	text-align: center;
}
