html {
	box-sizing: border-box;
	color: black;
	font: normal 100%/1.5 Georgia, serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.grains {
	float: left;
	width: 25%;
	margin-right: 15px;
}

.cereals {
	float: right;
	width: 25%;
}

.quinoa {
	float: right;
	width: 25%;
}
