html {
	box-sizing: border-box;
	color: black;
	font: normal 100%/1.5 Georgia, serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}

header {
	padding: 0em;
	background-color: #e5613e;
	text-align: center;
}

h1, h2 {
	color: white;
}

h1 {
	font-size: 3rem;
	margin: 0 0 0.2em;
}

nav li {
	display: inline-block;
	border: 1px solid #963e30;
}

nav a {
	color: white;
	padding: 3em;
}

nav ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

.grains {
	float: left;
	width: 25%;
	margin-top: 0.5em;
	margin-right: 1em;
	margin-bottom: 1em;
}

.cereals {
	float: right;
	clear: left;
	width: 25%;
	margin-bottom: 1em;
}

.quinoa {
	float: right;
	width: 25%;
	clear: both;
	margin-bottom: 1em;
}

.famous-cereals {
	background-color: #dd6e50;
	text-align: center;
	clear: both;
}

 .fig-1{
	text-align: center;
	background-color: #dd6e50;
	padding-bottom: 1em;
	color: white;
}

.rice {
	float: left;
	width: 50%;
}

.oats {
	width: 50%;
	float: left;
}

.peanuts,.beans,.lentils {
	width: 20%;
}

.famous {
	color: black;
	text-align: center;
}

footer {
background-color: #e5613e;
text-align: center;
padding: 1em;
margin-top: 1em;
color: white;
}
